@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #e6e6e6;
	min-width: 800px;
}

body {
	font-family: 'Lato', sans-serif;
	margin: 0px auto;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 30px;
	color: #3b3b3b;
}

h2 {
	font-size: 20px;
	color: #3b3b3b;
}

img {
	margin: 0;
	padding: 0;
	max-width:100%;
	max-height:100%;
}

button {
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
	border: 1px solid #ccc;
	text-transform: uppercase;
	color: #a0a0a0;
	background-color: inherit;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

button:hover {
	border: 1px solid #1a1a1a;
	color: #1a1a1a;
	cursor: pointer;
}

button:active {
	outline: none;
}

@-webkit-keyframes GradientAnimation {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@-moz-keyframes GradientAnimation {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@keyframes GradientAnimation {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}